@import 'components/index';

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 5px;
}

#root {
    height: calc(100% - 10px);
    width: 100%;
}

.image-dataset-generator {
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 2rem;
}

.col {
    float: left;
    height: 100%;
    border: none;
}

/* Image Viewer */
.image-viewer {
    position: relative;
    width: calc(100% / 4 * 3);
}

.dataset-container {
    width: calc(100% / 4);
    text-align: right;
}

.image-viewer img,
.dataset-container .dataset-table {
    height: calc(100% - 50px);
    border: 1px dashed grey;
    text-align: center;
}

.image-viewer img {
    width: calc(100% - 10px);
}

.dataset-container .dataset-table {
    overflow: auto;
}

.image-viewer .tips,
.dataset-container button.saveBtn {
    width: 100%;
}

.dataset-container button.saveBtn{
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    margin-top: 10px;
}

.location {
    display: flex;
    font-size: 1rem;
    border-bottom: solid 1px #444;
    letter-spacing: 2px;
    cursor: pointer;
}

.remove-location {
    visibility: hidden;
    margin-right: 10px;
    color: #e57373;
    cursor: pointer;
}

.location:hover .remove-location {
    visibility: visible;
}

.location-info {
    flex-grow: 1;
    padding: 10px;
}